<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">Value</h5>

    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label width-6">Project</label>
        <input type="text" class="gf-form-input width-18" ng-model="ctrl.panel.project" ng-change="ctrl.refresh()">
        <label class="gf-form-label width-8">Operation ID</label>
        <input type="text" class="gf-form-input width-18" ng-model="ctrl.panel.operationID" ng-change="ctrl.refresh()">
        </div>
      </div>
    </div>
  </div>
</div>
